<% if @todo_lists.empty? %>
  <p style="padding: 0px 16px">Nothing to show</p>
<% else %>
  <% @todo_lists.each do |todo_list| %>
    <div class="index_row clearfix">
      <h2 class="todo_list_title"><%= link_to todo_list.title, todo_list %></h2>
      <p class="todo_list_sub_title"><%= todo_list.description %></p>
    </div>
  <% end %>
<% end %>
<div class="links">
  <%= link_to "New Todo List", new_todo_list_path %>
</div>
